body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f5f7fb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: white;
  box-shadow: 0 4px 16px rgba(0,0,0,0.05);
}

.btn-biru {
  background: #2f6fed !important;
  color: white !important;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: bold;
}

.btn-biru:hover {
  background: #1e4fc4;
}

.logo {
  height: 100px;
  width: auto;
}
/* BUTTON */
.btn {
  background: #2d6cdf;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
}
/* HERO */
.hero {
  padding: 25px 20px;
}

.hero h1 {
  font-size: 22px;
  line-height: 1.4;
}

.hero span {
  color: #2d6cdf;
}

.hero p {
  color: #666;
  font-size: 14px;
}

/* SEARCH */
.search-box {
  margin-top: 15px;
}

.search-box input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.full {
  width: 100%;
  margin-top: 10px;
}

/* KATEGORI */
.kategori {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  font-weight: 500;
}

 body {
  opacity: 1;
  transition: opacity 0.4s ease;
}

 body.fade-out {
  opacity: 0;
}
