.body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f5f7fb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: white;
}

/* LOGO */
.logo {
  height: 5px;   /* ini yang bikin kecil */
}

/* BUTTON */
.btn {
  background: #2d6cdf;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
}
/* HERO */
.hero {
  padding: 25px 20px;
}

.hero h1 {
  font-size: 22px;
  line-height: 1.4;
}

.hero span {
  color: #2d6cdf;
}

.hero p {
  color: #666;
  font-size: 14px;
}

/* SEARCH */
.search-box {
  margin-top: 15px;
}

.search-box input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.full {
  width: 100%;
  margin-top: 10px;
}

/* KATEGORI */
.kategori {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  font-weight: 500;
}
